---
import BaseLayout from "../../layouts/BaseLayout.astro";
const { id } = Astro.params;

const res = await fetch(
  `http://localhost:8080/api/products/${id}`
);

const product = await res.json();
---

<BaseLayout title={`${product.name} · Aura`}>
  <section class="aura-product-detail">
    <div class="detail-grid">

      <!-- IMAGEN -->
      <div class="detail-image aura-card"></div>

      <!-- INFO -->
      <div class="detail-info aura-card">
        <h1>{product.name}</h1>
        <p class="detail-price">{product.price} €</p>

        <p class="detail-category">
          Categoría: {product.categoryId}
        </p>

        <p class="detail-desc">
          Producto gaming premium Aura Build Picker.
        </p>

        <button class="aura-btn-neon">
          <span>Agregar a build</span>
        </button>
      </div>

    </div>
  </section>
</BaseLayout>
